<div class="container">
    @{
        ViewBag.Title = "Who I Am";
    }
    <h3>@ViewBag.Title</h3>

        <div class="col-md-6 AboutMe">
 
            <p>
                In February 2016 I decided to change careers, so I joined coding
                bootcamp at <a href="http://bootcamp.wecancodeit.org/" class="link">We Can Code It</a>. 
                The curriculum includes C#, .NET framework, SQL, Javascript and JQuery. I will be
                graduating in June, 2016.
            </p>
            <p>I am a bookworm who lives in the western suburbs of Cleveland, Ohio. </p>
            <p>I'm looking for a position as a junior software developer. </p>
        </div>
        <div class="col-md-6">
            <p>This is my stand-in, Archie. She quit a job that didn't suit her to take over her grandfather's farm. </p>
            <p>
                Archie started with 500 gold, and created 
                <a href="http://stardewvalley.net/" target="_blank" class="link">Stardew Valley's</a> 
                premier brewery and winery.</p>
            <img src="~/Content/Images/SV2_cropped.PNG" alt="Not an actual picture of me.">
        </div>

    </div>


