<div class="container">
    @{
        ViewBag.Title = "Who I Am";
    }
    <h3>@ViewBag.Title</h3>

        <div class="col-md-6 AboutMe">
 
            <p>
                In February 2016 I decided to change careers, so I joined coding
                bootcamp at <a href="http://bootcamp.wecancodeit.org/" class="link">We Can Code It</a>. 
                The curriculum includes C#, .NET frameworkI will be
                graduating in June, 2016.
            </p>
            <p>I am a bookworm who lives in the western suburbs of Cleveland, Ohio. </p>
            <p>I'm looking for a position as a junior software developer. </p>
        </div>
        <div class="col-md-6">
            <p>This is Archie. She is standing in for me at the moment. </p>
            <img src="~/Content/Images/SV2_cropped.PNG" alt="Not an actual picture of me.">
        </div>

    </div>
</div>

